html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.auth-card {
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    animation: fadeIn 0.5s ease-in-out;
}

.auth-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.auth-subtitle {
    text-align: center;
    color: gray;
    margin-bottom: 25px;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

    .form-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        outline: none;
    }

    .form-group label {
        position: absolute;
        top: -8px;
        left: 10px;
        background: white;
        font-size: 12px;
        color: #555;
        padding: 0 5px;
    }

.auth-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #2c5364;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

    .auth-btn:hover {
        background: #1e3c4a;
    }

.switch-text {
    text-align: center;
    margin-top: 15px;
}

    .switch-text a {
        color: #2c5364;
        font-weight: bold;
        text-decoration: none;
    }

.error-text {
    color: red;
    text-align: center;
    margin-top: 10px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}